<div class="table-container">
    <table class="table-empresas">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Descripción</td>
                <td>Imagen</td>
                <td>Sitio Web</td>
                <td>Activo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>flecha bus</td>
                <td>flecha bus</td>
                <td>flecha bus</td>
                <td>flecha bus</td>
                <td>flecha bus</td>
            </tr>
        </tbody>
    </table>
</div>