.background-black{
    background-color: #181818;
}

#viajes{
    h2{
        color: #EEE;
    }
    p{
        color: #EEE;
    }
    a{
        color: #EEE;
    }
    span{
        color: #eab308;
    }
    .div-tarjetas{
        background-color: #EEE;
        padding: 3px;
        border-radius: 5px;
        border: 3px solid #eab308;
    }
    .sombra{
        box-shadow: 0px 1px 5px black;
    }
}