.input{
	@apply rounded-md p-4 text-lg font-thin border border-gray-300 outline-none
}

.label{
	@apply flex flex-col gap-1 font-semibold text-sm
}

.error-message{
	color: red;
}

.checkboxIda{
	display: flex;
	justify-content: center;
	align-items: center;
	input{
		height: 15px;
		width: 15px;
	}
	label{
		margin: 5px;
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-style: bold;
	}
}