.input{
	@apply rounded-md p-4 text-lg font-thin border border-gray-300 outline-none
}

.label{
	@apply flex flex-col gap-1 font-semibold text-sm
}
.white-text{
	color: #EEE;
}

input{
	color: black;
}

select{
	color: black;
}

.error-message{
	color: red;
}

.error{
	@apply bg-red-100 border border-red-400 text-red-700 px-2 py-2 rounded relative text-center
}

.checkboxIda{
	display: flex;
	justify-content: center;
	align-items: center;
	input{
		height: 15px;
		width: 15px;
	}
	label{
		margin: 5px;
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-style: bold;
	}
}