.container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    .tarjeta{
        background-color: #181818;
        width: 500px;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 4px;
        box-shadow: 0px 1px 10px black;
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5px;
        }
        p{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            font-weight: bold;
        }
        input{
            padding: 5px;
            width: 80%;
            border-radius: 3px;
            box-shadow: 0px 2px 5px black;
            outline: none;
        }
        a{
            color:#eab308;
        }
        button{
            padding: 5px;
            width: 80%;
            border-radius: 3px;
            box-shadow: 0px 2px 5px black;
            background-color: red;
            color: white;
            font-size: small;
        }
    }
}