<div class="container">
    <div class="tarjeta">
        <form (ngSubmit)="submitForm()" #myForm="ngForm">
            <p>Email:</p>
            <input type="email" placeholder="Ejemplo@gmail.com" name="correo" [(ngModel)]="formData.correo" required>
            <p>Contraseña:</p>
            <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="formData.password" required>
            <p>¿Todavía no tenés cuenta? <a href="/authregister">Crear una cuenta</a></p>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</div>